$icomoon-font-path: "fonts" !default;

$icon-down-arrow:         "\e900";
$icon-download-to-folder: "\e901";
$icon-G:                  "\e902";
$icon-home:               "\e903";
$icon-letter:             "\e904";
$icon-maps-mark:          "\e905";
$icon-phone-symbol:       "\e906";
$icon-G-cut:              "\e907";


